<br>
<% posts.each do |post| %>
    <div class="row">
        <div class="col-12 mb-3">
          
            <div class="card">
                <div>
                  <p style="color: black;">
                    <span style="display: inline-block;"><!-- blockして横並びにする -->
                    <% if admin_signed_in? %><!--管理者の場合-->
                      <%= link_to admin_user_path(post.user) do %>
                      　<%= image_tag post.user.get_profile_image(50,50), class: "mt-3 rounded-circle"; %> <!-- 投稿ユーザー画像 -->
                      <% end %>
                    <% else %><!--ユーザーの場合-->
                      <%= link_to(post.user) do %>
                      　<%= image_tag post.user.get_profile_image(50,50), class: "mt-3 rounded-circle"; %> <!-- 投稿ユーザー画像 -->
                      <% end %>
                    <% end %>
                    </span>
                    <span style="display: inline-block;"><!-- blockして横並びにする -->
                    　<%= post.user.name %> <!-- ユーザーネーム -->
                    </span>
                  </p>
                  <% if admin_signed_in? %><!--管理者の場合-->
                    <%= link_to admin_post_path(post) do %> <!-- post/showへのリンク -->
                      <hr> <!-- 区切りの横線 -->
                      <h5 style="font-weight: bold; color: black;">　<%= post.title %></h5>
                      <hr> <!-- 区切りの横線 -->
                      <p style="color: black;">　<%= post.body %></p>
                      <% if post.image.attached? %> <!-- 画像の添付があった場合のみ、画像を表示させる。画像添付がない場合、何も返さない。 -->
                            　<%= image_tag post.get_image, size: "300x300" %>
                      <% end %>
                    <% end %>
                  <% else %><!--ユーザーの場合-->
                    <%= link_to post_path(post.id) do %> <!-- post/showへのリンク -->
                      <hr> <!-- 区切りの横線 -->
                      <h5 style="font-weight: bold; color: black;">　<%= post.title %></h5>
                      <hr> <!-- 区切りの横線 -->
                      <p style="color: black;">　<%= post.body %></p>
                      <% if post.image.attached? %> <!-- 画像の添付があった場合のみ、画像を表示させる。画像添付がない場合、何も返さない。 -->
                            　<%= image_tag post.get_image, size: "300x300" %>
                      <% end %>
                    <% end %>
                  <% end %>
                  <hr> <!-- 区切りの横線 -->
                  <div style="display: flex; justify-content: space-between;">
                    <span style="color: gray; text-align: left; margin-left: 20px;"><%= post.created_at.strftime('%Y/%m/%d') %></span>
                    <span style="color: gray; text-align: center; flex: 1;"><i class="fa-regular fa-comment"></i>コメント数：</span>
                    <span style="color: gray; text-align: right; margin-right: 20px;"><i class="fa-solid fa-heart"></i>いいね数：</span>
                  </div>
                </div>
            </div>
          
        </div>
    </div>
<% end %>


<style>
  a {
    text-decoration: none;
    color: black; /* リンク特有の青文字もデフォルトの色に戻すために追加 */
  }

  a:hover {
    text-decoration: none; /* カーソルを合わせた際に下線を消す */
  }
  
  .card {
    border: 2px solid black; /* 太い線を設定 */
    padding: 10px; /* カード内の余白を調整 */
  }
</style>