<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-2">
    </div>
    <div class = "col-8", style="max-width: 80%; margin: 0 auto; text-align: left;">

      <!--<!% if flash[:notice].present? %>-->
      <!--  <div class="alert alert-success">-->
      <!--    <!%= flash[:notice] %>-->
      <!--  </div>-->
      <!--<! end %>-->
      
      <!--<!% if flash[:alert].present? %>-->
      <!--  <div class="alert alert-danger">-->
      <!--    <!%= flash[:alert] %>-->
      <!--  </div>-->
      <!--<!% end %>-->

      <div class="row">
          <div class="col-12 mb-3">

              <div class="card">
                  <div>
                    
                    <div style="color: black; display: flex; justify-content: space-between; align-items: center;">
                      <div>
                        <%= link_to(@post.user) do %>
                        　<%= image_tag @post.user.get_profile_image(50, 50), class: "mt-3 rounded-circle" %> <!-- 投稿ユーザー画像 -->
                        <% end %>
                        　<%= @post.user.name %> <!-- ユーザーネーム -->
                      </div>
                      <% if @user == current_user %>
                        <div style="display: flex; align-items: center; margin-right: 20px;">
                          <div style="margin-right: 20px;">
                            <%= link_to edit_post_path(@post), class: "btn btn-outline-secondary" do %>
                              編集 <i class="fa-regular fa-pen-to-square"></i>
                            <% end %>
                          </div>
                          <div>
                            <%= link_to @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-outline-danger", style: "font-weight: bold" do %>
                              削除 <i class="fa-solid fa-file-circle-minus"></i>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    
                    <hr> <!-- 区切りの横線 -->
                    <h5 style="font-weight: bold; color: black;">　<%= @post.title %></h5>
                    <hr> <!-- 区切りの横線 -->
                    <p style="color: black;">　<%= @post.body %></p>
                    <% if @post.image.attached? %> <!-- 画像の添付があった場合のみ、画像を表示させる。画像添付がない場合、何も返さない。 -->
                        <%= link_to @post.get_image, target: "_blank" do %>
                        　<%= image_tag @post.get_image, size: "300x300" %>
                        <% end %>
                    <% end %>
                    <hr> <!-- 区切りの横線 -->
                    <div style="display: flex; justify-content: space-between;">
                      <span style="color: gray; text-align: left; margin-left: 20px;"><%= @post.created_at.in_time_zone("Tokyo").strftime('%Y/%m/%d') %></span>
                      <span style="color: gray; text-align: center; flex: 1;"><i class="fa-regular fa-comment"></i>コメント数：<%= @post.comments.count %></span>
                      <span style="color: gray; text-align: right; margin-right: 20px;"><i class="fa-solid fa-heart"></i>いいね数：</span>
                    </div>
                  </div>
              </div>

              <br>
              <br>
              <div>
                <span style="border: 2px solid black; border-radius: 50px; padding: 5px;">　<i class="fa-regular fa-comment"></i>コメントしよう　
              </div>
              
              <div style="margin-top: -10px;"><!--brを狭く-->
                <br>
              </div>
              
              <div class="card" style= "background: lightyellow;"><!--コメントnew-->
                <div style="margin-left: 20px; margin-right: 20px; text-align: right;">
                  <%= form_with model: [@post, @comment] do |f| %>
                    <%= f.text_area :body, rows:'5', placeholder: "コメントをここに", class: "w-100" %>
                    <%= button_tag(type: 'submit', class: 'btn btn-outline-primary') do %>
                      送信 <i class="fa-solid fa-paper-plane"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
              
              <br>
              <br>
              <% if @post.comments.present? %><!--コメントが送信されている場合-->
                <div>
                  <span style="border: 2px solid black; border-radius: 50px; padding: 5px;">　<i class="fa-solid fa-comments"></i>コメント一覧　</span>
                </div>
                <div style="margin-top: -10px;"><!--brを狭く-->
                  <br>
                </div>
                <% @post.comments.order(created_at: :desc).each do |comment| %><!--コメント一覧-->
                  <div class="card" style="margin-bottom: 10px; display: flex;">
                    <div style="flex: 0 0 70px; padding: 10px; display: flex; align-items: center;">
                      <%= link_to(comment.user) do %>
                        <%= image_tag comment.user.profile_image, size:"50x50", class: "mt-3 rounded-circle" %>
                      <% end %>
                      <span style="margin-left: 10px;"><%= comment.user.name %></span>
                      <span style="color: gray; text-align: left; margin-left: 20px;"><%= comment.created_at.in_time_zone("Tokyo").strftime('%Y/%m/%d %H:%M:%S') %></span>
                      <div style="margin-left: auto; margin-top: -10px;">
                        <% if comment.user == current_user %>
                          <%= link_to post_comment_path(comment.post, comment), method: :delete, data: { confirm: 'コメントを削除しますか？' }, class: "btn btn-outline-danger", style: "font-weight: bold" do %>
                            削除 <i class="fa-solid fa-file-circle-minus"></i>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <hr> <!-- 区切りの横線 -->
                    <div style="flex: 1; padding: 10px;">
                      <div>
                        <%= comment.body %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
          </div>
      </div>
    </div>
    <div class = "col-2">
    </div>
  </div>
</div>


<style>
  a {
    text-decoration: none;
    color: black; /* リンク特有の青文字もデフォルトの色に戻すために追加 */
  }

  a:hover {
    text-decoration: none; /* カーソルを合わせた際に下線を消す */
  }
  
  .card {
    border: 2px solid black; /* 太い線を設定 */
    padding: 10px; /* カード内の余白を調整 */
  }
</style>