<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-2">
    </div>
    <div class = "col-8">
      <h3><span style="border: 2px solid black; border-radius: 50px; padding: 5px;">　会員一覧 <i class="fa-solid fa-users"></i>　</span></h3>
      <br>
      
      <div class="row">
          <div class="col-12 mb-3">
            
            <table class="table">
              <thead>
                <tr>
                  <th>ユーザーID</th>
                  <th>名前</th>
                  <th>プロフィール画像</th>
                  <th>メールアドレス</th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                    <td><%= user.id %></td>
                    <td>
                      <%= link_to admin_user_path(user), style: "text-decoration: underline" do %>
                        <%= user.name %>
                      <% end %>
                    </td>
                    <td><%= image_tag user.get_profile_image(50,50) %></td>
                    <td><%= user.email %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            
          </div>
      </div>

    </div>
    <div class = "col-2">
    </div>
  </div>
</div>

<!-- styleで、ユーザー一覧のテーブルに灰色の横線を付けています -->
<style>
  table.table {
    border-collapse: collapse;
  }
  table.table td, table.table th {
    border-bottom: 1px solid #dddddd;
  }
  table.table tr:last-child td, table.table tr:last-child th {
    border-bottom: 1px solid #dddddd;
  }
</style>