<div class = "container">
  <div class = "row">
    <div class = "col-2">
    </div>
    <div class = "col-8">

      <h2>ログイン</h2>
      
      <div class="card">
        <%= form_with(model:resource, local: true, url: session_path(resource_name)) do |f| %>
          <div class="field">
            メールアドレス<br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@mail.com" %>
          </div>
        
          <div class="field">
            パスワード<br />
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "xxxxxx" %>
          </div>
          
          <div class="actions">
            <br>
            <%= f.submit "　ログイン　" %>
          </div>
        <% end %>
        
        <div>
          <br>
          ※まだアカウント登録していない場合は、<%= link_to "<u>こちら</u>".html_safe, new_user_registration_path %>
        </div>
      </div>

    </div>
    <div class = "col-2">
    </div>
  </div>

</div>

<style>
  a {
    text-decoration: none;
    color: black; /* リンク特有の青文字もデフォルトの色に戻すために追加 */
  }

  a:hover {
    text-decoration: none; /* カーソルを合わせた際に下線を消す */
  }
  
  .card {
    border: 2px solid black; /* 太い線を設定 */
    padding: 10px; /* カード内の余白を調整 */
  }
</style>