<div class = "container">
  
  <!--フラッシュメッセージ-->
  <div class = "row justify-content-center">
    <div class = "col-2">
    </div>
    <div class = "col-8">
      <div class="flash-notice">
        <% flash.each do |message_type, message| %>
          <% if message_type == "notice" %> <!-- ログアウトした場合の条件を追加 -->
            <div class="flash-message <%= message_type %>"><%= message %></div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class = "col-2">
    </div>
  </div>
  
  <div class = "row justify-content-center">
    <div class = "col-2">
    </div>
    <div class = "col-8">
      
      <!-- ユーザーの詳細 -->
      <div style="background-color: lightblue; border: 3px solid black; padding: 10px;">
        <div style="display: flex; justify-content: space-between;">
          <span style="display: inline-block; margin-right: 20px; margin-left: 20px;"><!-- blockして横並びにする -->
            <h2 style="font-weight: bold;"><%= @user.name %></h2><!--ユーザー名前-->
          </span>
          <% unless @user.guest_user? %>
            <span style="display: inline-block; margin-right: 20px;"><!-- blockして横並びにする -->
              <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
                プロフィールを編集する<i class="fa-solid fa-user-pen" style="padding-left: 4px;"></i><!--編集ボタン-->
              <% end %>
            </span>
          <% end %>
        </div>
        <div>
          <span style="display: inline-block; margin-left: 20px;"><!-- blockして横並びにする -->
            <%= image_tag @user.get_profile_image(100,100) %><!--プロフィール画像-->
          </span>
          <span style="display: inline-block; margin-left: 20px;"><!-- blockして横並びにする -->
            <p style="color: gray;"><%= @user.introduction %></p><!--自己紹介-->
            <% if @user.guest_user? %>
              <p style="color: red;"><strong>（※ゲストユーザーはログアウト時にデータがリセットされます。）</strong></p><!--ゲストの場合-->
            <% end %>
          </span>
        </div>
        <hr style="border-top: 2px solid black;"> <!-- 区切りの横線 -->
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <span style="color: black; text-align: center; flex: 1; font-weight: bold;">
            <%= link_to user_followings_path(@user), class: "link-class" do %>
              フォロー <%= @user.followings.count %>
            <% end %>
          </span>
          <span style="border-left: 2px solid black; padding-left: 10px; padding-right: 10px; color: black; text-align: center; flex: 1; font-weight: bold;">
            <%= link_to user_followers_path(@user), class: "link-class" do %>
              フォロワー <%= @user.followers.count %>
            <% end %>
          </span>
        </div>
      </div>
      
      <!-- ユーザーの投稿一覧 -->
      <%= render 'public/posts/post', posts: @posts %>

    </div>
    <div class = "col-2">
    </div>
  </div>
</div>