<!--管理者がログインした場合 -->
<% if admin_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class = "container">
      <a class="navbar-brand" href="/"><%= image_tag '空き家HELP.png', size: "150x65" %></a> <!--ロゴ -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span style="color: gray; text-align: center;"><strong>【管理者ログイン中】</strong></span>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %> <!--管理者がログインした場合 -->
            <li class="nav-item"> <!-- 会員一覧 -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px; margin-right: 10px;">
                <%= link_to admin_path do%>
                  会員一覧 <i class="fa-solid fa-users"></i>
                <% end %>
            </li>

            <li class="nav-item"> <!-- すべてのユーザーの投稿一覧 -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px; margin-right: 10px;">
                <%= link_to admin_posts_path do %>
                  みんなの投稿 <i class="fa-regular fa-file"></i>
                <% end %>
            </li>

            <li class="nav-item"> <!-- ログアウト -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px;">
                <%= link_to destroy_admin_session_path, method: :delete do %>
                  ログアウト <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <% end %>
            </li>
          <!--管理者がログアウトした場合、ユーザーログアウト時と同じ -->
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
<!--ユーザーがログインした場合 -->
<% else %>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class = "container">
      <a class="navbar-brand" href="/"><%= image_tag '空き家HELP.png', size: "150x65" %></a> <!--ロゴ -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %> <!--ユーザーがログインした場合 -->
            <li class="nav-item"> <!-- about -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px; margin-right: 10px;"><%= link_to '～About～', about_path %>
            </li>

            <li class="nav-item"> <!-- マイページ -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px; margin-right: 10px;">
                <%= link_to mypage_path do %>
                  マイページ <i class="fa-solid fa-user"></i>
                <% end %>
            </li>

            <li class="nav-item"> <!-- いいね一覧 -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px; margin-right: 10px;">
                <%= link_to favorites_user_path(current_user) do %>
                  いいねした投稿 <i class="fa-solid fa-heart"></i>
                <% end %>
            </li>

            <li class="nav-item"> <!-- すべてのユーザーの投稿一覧 -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px; margin-right: 10px;">
                <%= link_to posts_path do %>
                  みんなの投稿 <i class="fa-regular fa-file"></i>
                <% end %>
            </li>

            <li class="nav-item"> <!-- 新規投稿post -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px; margin-right: 10px;">
                <%= link_to new_post_path do %>
                  新規投稿 <i class="fa-solid fa-file-circle-plus"></i>
                <% end %>
            </li>

            <li class="nav-item"> <!-- ログアウト -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px;">
                <%= link_to destroy_user_session_path, method: :delete do %>
                  ログアウト <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <% end %>
            </li>
          <% else %>　<!--ユーザーがログアウトした場合 -->
            <li class="nav-item"> <!-- about -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px; margin-right: 10px;"><%= link_to '～About～', about_path %>
            </li>

            <li class="nav-item"> <!-- 新規会員登録 -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px; margin-right: 10px;">
                <%= link_to new_user_registration_path do %>
                  会員登録 <i class="fa-solid fa-user-plus"></i>
                <% end %>
            </li>

            <li class="nav-item"> <!-- ゲストログイン -->
               <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px; margin-right: 10px;">
                 <%= link_to users_guest_sign_in_path, method: :post do %>
                   ゲストログイン <i class="fa-solid fa-user-tie"></i>
                 <% end %>
            </li>

            <li class="nav-item"> <!-- ログイン -->
              <span style="display: inline-block; margin-top: 5px; margin-bottom: 5px; border: 2px solid black; border-radius: 50px; padding: 5px;">
                <%= link_to new_user_session_path do %>
                  ログイン <i class="fa-regular fa-user"></i>
                <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
    <div class = "container"><!--検索窓-->
      <div class="d-flex justify-content-end mb-2">
        <% if user_signed_in? %>
          <%= form_with url: search_path, method: :get, local: true do |f| %>
            <div class="d-flex align-items-center">
              <div class="mr-2">
                <%= f.text_field :content, placeholder: "Search", class: "form-control" %>
              </div>
              <div class="mr-2">
                <%= f.select :model, options_for_select({ "ユーザー" => "user", "投稿" => "post" }, { class: "form-control custom-select-gray" }) %>
              </div>
              <div>
                <%= button_tag(type: 'submit', class: 'btn btn-outline-secondary btn-sm') do %>
                  検索 <i class="fa-solid fa-magnifying-glass"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
<% end %>